@use "../variables" as var;

.m-bmicalc {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	border-radius: 1rem;
	background: var(--Pure-White);

	box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
	&__metric {
		display: flex;
		width: 100%;
		gap: 1.125;
		align-items: center;
		justify-content: stretch;
		&__item {
			width: 100%;
		}
	}
	&__data {
		display: flex;
		gap: 1.5rem;
		flex-wrap: wrap;
	}
	&__welcome-msg {
		width: 100%;
		//display: block;
		display: none;
		& > h3 {
			margin-bottom: 1rem;
		}
	}
	&__result {
		padding: 2rem;
		border-radius: 1rem;
		background: linear-gradient(90deg, #345ff6 0%, #587dff 100%);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 1.5rem;
		&__data {
			display: block;
			margin-block: 0.5rem 0;
		}
		&__column {
			//display: none;
			display: block;
			flex: 1 1 100%;
		}
	}
}
.m-radio {
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 1.12rem;
	position: relative;
	&__btn {
		position: absolute;
		visibility: hidden;
		appearance: none;
	}
	&__checkmark {
		display: block;
		width: 1.875rem;
		height: 1.875rem;
		border-radius: 50%;
		--opaque: hsl(from var(--Blue) h s l / 0.15);
		outline: 1px solid var(--opaque);
		background: var(--opaque);
		position: relative;
		overflow: hidden;
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			border-radius: 50%;
			background-color: var(--Pure-White);
			transition: inset 0.2s;
		}
		&::after {
			content: "";
			position: absolute;
			inset: 50%;
			border-radius: 50%;
			background-color: var(--Blue);
			transition: inset 0.2s;
		}
	}
	&__btn:checked ~ &__checkmark {
		&::before,
		&::after {
			inset: 25%;
		}
	}
}
.m-dataholder {
	flex: 1 1 10rem;
	min-width: fit-content;
	&__title {
		margin-bottom: 0.5rem;
	}
	&__property {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
	}
	&__item {
		flex: 1 0 6rem;
		padding: 1.25rem 1.5rem;
		border-radius: 0.75rem;
		border: 1px solid #d8e2e7;
		background: var(--Pure-White);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		&--imperial {
			display: none;
		}
	}
	&__input {
		width: 100%;
		&::placeholder {
			opacity: 0.25;
		}
	}
}

@media screen and (min-width: var.$breakpoint-tablet) {
	.m-bmicalc {
		padding: 2rem;
		gap: 2rem;
		&__result {
			border-radius: 1rem 5rem 5rem 1rem;
			&__column {
				flex-basis: 10rem;
			}
		}
	}
}
