.m-card {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 2.5rem;
	row-gap: 2rem;
	&__icon {
		width: 4rem;
		&__item {
			width: 100%;
		}
	}
	&__info {
		flex: 1 1 25rem;
	}
	&__title {
		margin-bottom: 1.5rem;
	}
}
.m-card2 {
	padding: clamp(1.5rem, 5vw, 2rem);
	border-radius: 1rem;
	background: var(--Pure-White, #fff);
	box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
	&__heading {
		display: flex;
		gap: 1rem;
		margin-bottom: 1rem;
		align-items: center;
	}
	&__icon {
		width: 2rem;
		height: 2rem;
	}
}
