@use "variables" as var;
.section {
	width: clamp(18.75rem, 100%, 90rem);
	margin-inline: auto;
	margin-bottom: 4.5rem;
	display: flex;
	flex-wrap: wrap;
	&__title {
		margin-bottom: 2rem;
	}
}
.header {
	padding-inline: var(--section-padding-inline);
	padding-top: 2rem;
	column-gap: 2rem;
	align-items: center;
	&__logo {
		width: 100%;
		margin-bottom: 1.5rem;
	}
	&__info {
		margin-bottom: 3rem;
	}
	&__bmicalc {
	}
	&__info,
	&__bmicalc {
		flex: 1 1 100%;
	}
	&__title {
		margin-bottom: 1.5rem;
	}
}
.section-2 {
	&__wrapper {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		row-gap: 3rem;
		margin-bottom: 4.5rem;
		align-items: center;
	}
	&__img,
	&__header {
		flex: 1 1 18rem;
	}
	&__header,
	&__info {
		padding-inline: var(--section-padding-inline);
	}
	&__info {
		display: flex;
		flex-wrap: wrap;
		row-gap: 2.5rem;
		padding-block: 3.5rem;
	}
}
.section-3 {
	padding-inline: var(--section-padding-inline);
	row-gap: 1rem;
	column-gap: 0.9375rem;
	align-items: stretch;
	justify-content: space-evenly;
	& > .section__heading {
		flex: 1 1 100%;
		margin-bottom: 2.5rem;
	}
	& > .m-card2 {
		flex: 1 1 18rem;
		max-width: 20.9688rem;
	}
}
.card-separator {
	display: none;
}
@media (min-width: var.$breakpoint-tablet) {
	.section {
		margin-bottom: 6rem;
		&__cards {
			padding-block: 3.75rem;
		}
	}
	.header {
		&__logo {
			margin-bottom: 2.5rem;
		}
		&__info {
			margin-bottom: 2.5rem;
		}
	}
	.section-2 {
		&__img {
			position: relative;
			left: -8%;
		}
		&__header {
			padding-left: 0;
		}
	}
	.section-3 {
		row-gap: 1.5rem;
	}
}
@media (min-width: var.$breakpoint-desktop) {
	.section {
		margin-bottom: 7.5rem;
	}
	.header {
		padding-block: 4.6875rem 3rem;
		&__info,
		&__bmicalc {
			flex-basis: 20rem;
		}
		&__info {
			padding-right: 8.5%;
		}
	}
	.section-2 {
		&__wrapper {
			padding-inline: var(--section-padding-inline);
			column-gap: 2rem;
			align-items: flex-end;
			margin-bottom: 6rem;
		}
		&__img {
			left: 0;
		}
		&__header {
			padding-inline: 8% 0;
			margin-bottom: 2.5rem;
		}
		&__info {
			column-gap: 2rem;
			align-items: flex-start;
			padding-block: 4.5rem 6rem;
			& > .m-card {
				flex: 1 1 30%;
			}
		}
	}
	.section-3 {
		justify-content: right;
		column-gap: 2rem;
		& > .section__heading {
			max-width: 47%;
		}
		& > .card-separator {
			display: block;
		}
		& > .m-card2 {
			flex-basis: 22.8125rem;
			max-width: 22.8125rem;
			&:nth-child(2) {
				margin-inline: auto;
			}
			&:nth-child(3),
			&:nth-child(6) {
				margin-left: auto;
			}
			&:nth-child(7) {
				margin-right: auto;
			}
		}
	}
}
