@use "variables" as var;
.l-header {
	padding-top: 2rem;
	&__logo {
		width: fit-content;
		margin-inline: auto;
		margin-bottom: 1.5rem;
	}
	&__title {
		margin-bottom: 1.5rem;
	}
	&__info {
		margin-bottom: 3rem;
	}
}
.l-section {
	margin-bottom: 4.5rem;
	&__wrapper {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		row-gap: 3rem;
		margin-bottom: 4.5rem;
		align-items: center;
	}
	&__img,
	&__info {
		flex: 1 1 50%;
	}
	&__title {
		margin-bottom: 2rem;
	}
	&__cards {
		padding-block: 3.5rem;
		& > :not(:last-child) {
			margin-bottom: 2.5rem;
		}
	}
	&__cards2 {
		& > :not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}
.l-inner-padding {
	padding-inline: var(--section-padding-inline);
}
@media (min-width: var.$breakpoint-tablet) {
	.l-header {
		&__logo {
			margin-bottom: 2.5rem;
		}
		&__info {
			margin-bottom: 2.5rem;
		}
	}
	.l-section {
		margin-bottom: 6rem;
		&__img {
			position: relative;
			left: -6%;
		}
		&__info {
			padding-left: 1.5rem;
		}
		&__cards {
			padding-block: 3.75rem;
		}
	}
}
