.l-header {
	padding-inline: 1.5rem;
	padding-top: 2rem;
	margin-bottom: 3rem;
	&__logo {
		width: fit-content;
		margin-inline: auto;
		margin-bottom: 1.5rem;
	}
	&__title {
		margin-bottom: 1.5rem;
	}
	&__text {
		margin-bottom: 3rem;
	}
}
.l-section1 {
	&__img {
		& > img {
			max-width: 100%;
		}
	}
}
