@font-face {
	font-family: "Inter";
	src: url(../fonts/static/Inter-SemiBold.ttf);
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/static/Inter-Regular.ttf);
	font-weight: 400;
	font-display: 400;
}
:root {
	--ff-inter: "Inter", sans-serif;
	--Blue: #345ff6;
	--Gunmetal: #253347;
	--Dark-Electric-Blue: #5e6e85;
	--Borders: #d8e2e7;
	--Pure-White: #ffffff;
	--Gradient-1: linear-gradient(
		290deg,
		#d6e6fe 0%,
		rgba(214, 252, 254, 0) 100%
	);
	--section-padding-inline: max(1.5rem, 5.5%);
	--size-tablet: 700px;
	--size-desktop: 100px;
}
.c-blue {
	color: var(--Blue);
}
.c-gunmetal {
	color: var(--Gunmetal);
}
.c-deblue {
	color: var(--Dark-Electric-Blue);
}
.c-pwhite {
	color: var(--Pure-White);
}
$breakpoint-tablet: 700px;
$breakpoint-desktop: 1024px;
@media screen and (min-width: $breakpoint-desktop) {
	:root {
		--section-padding-inline: min(10%, 8.75rem);
	}
}
